@import './variables.scss';
@import './scrollbar.scss';
@import './element-ui.scss';
$tabletitlebackcolor: rgba(236,249,253,1);
$tabletitlecolor: #212121;
$tablecellcolor: rgba(49,52,70,1);
$tablehightlightrowbackcolor: rgba(63,209,219,1);
$tablerowstripedbackcolor: rgba(248,249,251,1);
$dialogbackcolor: rgba(244,247,249,1);
$dialogcolor: rgba(45,48,55,1);
$dialogwidth1: 600px;
$dialogwidth2: 1000px;

.el-select-dropdown {
  .selected {
    background-color: #3fd1db !important;
    color: #fff !important;
  }
  .el-select-dropdown__item {
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    &:hover, &:focus {
      background: rgba(63,209,219,.15) !important;
      color: #313446 !important;
      // background-color: #3fd1db !important;
      // color: #fff !important;
    }
    .selected {
      background-color: #3fd1db !important;
      color: #fff !important;
    }
  }
}

%el-table {
  width: 100%;
  .el-table__fixed-right::before, .el-table__fixed::before {
    background-color: transparent;
  }
  &.el-table--striped {
    .el-table__body {
      tr.el-table__row--striped.current-row {
        td {
          background-color: transparent;
        }
      }
    }
  }
  &.el-table--border {
    border: 0;
    td {
      border: 0px;
      // border-bottom: 1px solid rgba(241,241,243,1);
    }
    th {
      border: 0px;
    }
    &::after {
      width: 0;
    }
    .el-table__header-wrapper {
      table thead tr th {
        &:first-child {
          div {
            padding-left: $tablecellpadingleft;
          }
        }
      }
    }
    .el-table__body-wrapper {
      table tbody tr td {
        &:first-child {
          div {
            padding-left: $tablecellpadingleft;
          }
        }
      }
    }
  }
  .el-table-group {
    &::after {
      width: 0;
    }
  }
  &::before {
    height: 0;
    border: 0;
  }
  .cell {
    white-space: nowrap;
  }
  th.is-leaf {
    background-color: $tabletitlebackcolor;
    padding: 0px;
    .cell {
      background-color: $tabletitlebackcolor;
      font-size:12px;
      font-weight:700;
      color: $tabletitlecolor;
      height: 30px;
      line-height: 30px;
    }
  }
  td {
    padding: 0px;
    .cell {
      background-color: #fff;
      font-size:13px;
      font-weight:400;
      line-height:15px;
      color:$tablecellcolor;
      height: 30px;
      line-height: 30px;
    }
  }
  .rowHandlerGroup {
    .el-button:not(:last-child) {
      margin-right: 1px;
    }
    .cell {
      padding-right: $tablecellpadingright;
    }
  }
  .custButtonGroup {
    .cell {
      padding-right: $tablecellpadingright;
    }
  }
  .tablecolumnfirst {
    .cell {
      padding-left: $tablepaddingleft !important;
    }
  }
  .tablecolumnend {
    .cell {
      padding-right: $tablepaddingright !important;
    }
  }
  .el-button {
    font-family: Source Han Sans CN,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,"sans-serif";
    color: #000;
    opacity: 0.54;
    background-color: transparent;
    &:focus, &:hover {
      background-color: rgba(63,209,219,0.16);
      border-radius: 50%;
    }
    &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
      color: #000;
      opacity: 0.1;
    }
  }
  .el-table__row--striped {
    .cell {
      background-color: $tablerowstripedbackcolor;
    }
  }
  .current-row {
    background:$tablehightlightrowbackcolor;
    td {
      background:$tablehightlightrowbackcolor;
      .cell {
        background:$tablehightlightrowbackcolor;
        color: #fff;
        .el-button {
          background-color: transparent;
          // color: #fff;
          &:focus, &:hover {
            // background-color: transparent;
            // color: #ccff00;
            background-color: #FFF;
            color: black;
            opacity: 1;
            //color: #fff;
            svg.gf-icon {
              color: black;
              // color: #fff;
            }
          }
        }
      }
    }
  }
  .el-table__body, .el-table--striped .el-table__body {
    tr {
      height: 31px;
      &.current-row {
        td {
          background-color: transparent;
        }
      }
    }
  }
}
.el-cascader-menu__item.is-active {
  color: #fff !important;
  background-color:$tablehightlightrowbackcolor !important;
}
.el-cascader-menu__item:focus:not(:active), .el-cascader-menu__item:hover {
  background-color:$tablehightlightrowbackcolor !important;
  color: #fff !important;
}

.el-aside {
  .el-menu-item, .el-submenu__title {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  .el-menu-item:focus,.el-menu-item:focus {
    background-color: rgba(63,209,219,1);
  }
  .el-menu-item.is-active {
    color: #ffffff;
    background-color: rgba(63,209,219,1);
  }
  .el-submenu__title:hover,.el-menu-item:hover,.el-menu-item:hover {
    background:rgba(63,209,219,0.15);
    color:rgba(49,52,70,1);
  }
  .el-submenu__title {
    &>span {
      display: inline-block;
      width: calc(100% - 50px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.el-tooltip__popper.is-dark, .el-popover {
  background:rgba(236,249,253,1) !important;
  border:1px solid rgba(216,234,239,1);
  box-shadow:0px 3px 6px rgba(0,0,0,0.16);
  opacity:1;
  font-size:12px;
  font-weight:400;
  line-height: 1.2;
  color:rgba(33,33,33,1) !important;
}
.el-tooltip__popper[x-placement^=top] .popper__arrow{
  border-top-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=top] .popper__arrow:after {
  border-top-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow:after {
  border-bottom-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=right] .popper__arrow{
  border-right-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=right] .popper__arrow:after {
  border-right-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=left] .popper__arrow{
  border-left-color: rgba(236,249,253,1) !important;
}
.el-tooltip__popper[x-placement^=left] .popper__arrow:after {
  border-left-color: rgba(236,249,253,1) !important;
}
// 弹出框的宽度设置
.dialogwidth1>.el-dialog {
  width: $dialogwidth1;
}
.dialogwidth2>.el-dialog {
  width: $dialogwidth2;
  /* position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:50%;
  height:50%;
  margin:auto; */
}
//弹出框的关闭按钮大小
.viewinfor .el-dialog__headerbtn .el-dialog__close, .el-dialog__headerbtn .el-dialog__close {
  font-size: 30px;
  font-weight:700;
  line-height: 0.5;
}
.el-radio__input.is-checked .el-radio__inner {
  border: 2px solid #3FD1DB;
  background: #FFF;
}
.el-radio__inner::after {
width: 6px;
height: 6px;
background-color: #3FD1DB;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #313446;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #3fd1db;
}
.app {
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #FFFFFF;
    border: 2px solid #3FD1DB;
  
  }
  .el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #3FD1DB;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 3px;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s,-webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  .el-input-group__append {
      border: none;
      background: transparent;
      padding: 0px;
  }
  .el-form {
    .el-row {
      // margin: 8px 0;
      line-height: 40px;
      margin-bottom: 8px;
      .el-form-item {
        margin-bottom: 8px;
        .el-form-item__content {
          .el-row {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  textarea, input {
    font-family:"Source Han Sans CN","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,"sans-serif";
  }
  font-family:"Source Han Sans CN","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,"sans-serif";
  padding: 0;
  background:rgba(232,241,248,1);
  padding: 8px;
  height: 100%;
  /* .el-select-dropdown__item.selected {
    color: #ffffff;
    background-color: rgba(63,209,219,1);
  } */
  .el-input.is-disabled .el-input__inner {
      background-color:transparent;
      // border-color: black;
      border-color: #E4E7ED;
      color:#909399;
      cursor: not-allowed;
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 30px;
    font-weight:700;
    line-height: 0.5;
  }
  svg.gf-icon {
    vertical-align: middle;     
  }
  .el-menu {
    border-right: none;
  }
  .el-input__inner {
    background-color: transparent;
  }
  .el-form-item.is-success {
    .el-input__inner {
      color: #212121;
      border-bottom: 1px solid rgba(112,112,112,1);
    }
    .el-input.is-disabled .el-input__inner {
      background-color:transparent;
      // border-color: black;
      border-color: #E4E7ED;
      color:#909399;
      cursor: not-allowed;
  }

  }
  .el-form-item.is-success .el-textarea__inner {
    color: #212121;
    font-size: 13px;
    border: 1px solid #DCDFE6;
  }
  .el-select .el-input, .el-input {
    input {
      border: none;
      border-bottom: 1px solid #707070;
      border-radius: 0;
      height:23px;
      font-size:13px;
      font-weight:400;
      line-height:23px;
      color:rgba(33,33,33,1);
      padding: 0 3px;
    }
  }
  .el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;
  }
  .el-select, .el-cascader {
    width: 100%;
    .el-input {
      &.is-focus {
        .el-input__inner {
          border-bottom: 1px solid rgba(5,169,211,1);
        }
      }
      .el-input__suffix {
        right: 0px;
        i.el-input__icon {
          // color: rgba(49,52,70,1);
          color: rgba(112,112,112,1);
          line-height: 23px;
        }
      }
    }
  }
  .el-table {
    @extend %el-table;
  }
  .el-button {
    font-family: Source Han Sans CN,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,"sans-serif";
    border: 0;
    font-size: 14px;
    padding: 3px;
    &+.el-button {
      margin-left: 0px;
    }
  }
  .el-button--primary, .el-button--text, .el-button--success {
    width:110px;
    height:32px;
    padding: 0;
    margin: 0;
    line-height: 32px;
    background:rgba(0,171,196,1);
    color: #fff;
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:1;
    border-radius:6px;
    &:focus, &:hover {
      background-color: rgba(63,209,219,1);
      color: #fff;
    }
    &.is-disabled {
      background:#90D6E3;
      box-shadow:0px 3px 6px rgba(0,0,0,0.16);
      opacity:1;
      border-radius:6px;
      color:rgba(255,255,255,1) !important;
    }
  }
  .el-select {
    .el-tag {
      background-color: #ecf9fd;
    }
  }
  .el-tag {
    height:23px;
    font-size:13px;
    font-weight:400;
    color:rgba(117,117,117,1);
    line-height: 23px;
  }
  .el-date-editor {
    input {
      padding-left: 32px;
    }
    .el-input, .el-input__inner {
      width: 100%;
    }
  }
  .el-input-number {
    .el-input-number__decrease, .el-input-number__increase {
      background-color: #fff;
      border: none;
    }
  }
  .el-form {
    .el-form-item {
      .el-form-item__label {
        height:40px;
        font-size:12px;
        font-weight:400;
        color:rgba(45,48,55,1);;
        line-height: 40px;
      }
    }
    .el-form-item__error {
      padding-top: 0;
    }
  }
  .el-container {
    background:rgba(255,255,255,1);
    height: 100%;
    padding: 0;
    margin: 0;
    .el-main {
      height: 100%;
      padding: 0;
    }
    .el-header {
      margin: 0;
      padding: 0;
    }
    .el-footer {
      margin: 0;
      padding: 0 20px;
    }
    .el-footer {
      text-align: center;
      .el-pagination {
        padding: 8px 20px 20px 20px;
      }
    }
  }
  .filters {
    border: 0;
    border-bottom: 2px solid rgba(220,235,242,1);
    padding: 8px 0;
    margin: 0px;
    .el-form {
      padding: 0px 20px;
      .el-form-item {
        margin-bottom: 0px;
      }
    }
  }
  .tableTop {
    height: 30px;
    padding: $buttontop 0 $buttonbottom $tablecellpadingleft;
    line-height: 30px;
    vertical-align: bottom;
  }
  .tableResult {
    position: absolute;
    right: 28px;
    transform: translate(0px, -35px);
    background: #303133;
    color:rgba(33,33,33,1);
    font-weight:400;
    border-radius: 4px;
    background:rgba(236,249,253,1);
    border:1px solid rgba(216,234,239,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    padding: 6px 10px 6px 0px;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    &:before{
      content:"";
      border:5px solid rgba(236,249,253,1);
      border-left-color:transparent;
      border-right-color:transparent;
      border-bottom-color:transparent;
      width:0px;
      height:0px;
      position: relative;
      top: 25px;
      left: 10px;
    }
  }
  div {
    &.el-dialog__wrapper {
      background-color: transparent;
      justify-content:center;//子元素水平居中
      align-items:center;//子元素垂直居中
      display:-webkit-flex;
      .el-dialog {
        margin: 0 auto;
        .el-dialog__header {
          height: 50px;
          background-color: $dialogbackcolor;
          border-bottom: 6px solid rgba(229,238,245,1);
          padding: 0 16px 0 25px;
          font-size:16px;
          font-weight:500;
          line-height:50px;
          .el-dialog__title {
            color:$dialogcolor;
            font-size: 16px;
            vertical-align: middle;
            font-weight: 600;
          }
          .el-dialog__headerbtn {
            top: 16px;
            height: 24px;
            width: 24px;
            font-size: 14px;
            color: #000; 
          }
        }
        .el-form {
          .el-row {
            // margin: 8px 0;
            line-height: 40px;
            margin-bottom: 8px;
            .el-form-item {
              margin-bottom: 8px;
              .el-form-item__content {
                .el-row {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
    &.el-tabs__item {
      background-color: transparent;
      &.is-top {
        border-bottom: 2px solid #E4E7ED;
      }
    }
    &.el-tabs__active-bar {
      background-color: #409EFF
    }
  }
  &>div {
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
  }
  .el-button-group {
    >.el-button:not(:last-child) {
      margin-right: 16px;
    }
    .el-button {
      color: #FFF;
      background-color: #3fd1db;
      border-radius: 50% !important;
      // font-size: 25px;
      &:focus, &:hover {
        background-color: rgba(63,209,219,0.09);
        border-radius: 50% !important;
        color:rgba(63,209,219,1);
      }
      &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
        background:rgba(63,209,219,0.36);
        color:#fff;
        border-radius: 50%;
      }
    }
  }
  // .filters .el-button, .el-dialog .dialog-footer .el-button {
  //   width: 100px;
  //   height: 27px;
  //   line-height: 2px;
  //   background-color: transparent;
  //   border:2px solid rgba(2,154,198,1);
  //   color: rgba(2,154,198,1);
  //   box-shadow:0px 2px 4px rgba(0,0,0,0.16);
  //   &:hover {
  //     box-shadow:0px 2px 4px rgba(0,0,0,0.16);
  //   }
  //   &.el-button--primary, &.el-button--text {
  //     background-color: transparent;
  //     color: rgba(2,154,198,1);
  //     border-radius: 18px;
  //     &.is-disabled {
  //       &:hover {
  //         background-color: transparent;
  //         border-color: #a3daea;
  //         color: #a3daea;
  //       }
  //     }
  //   }
  //   &[disabled] {
  //     background-color: transparent;
  //     box-shadow: none;
  //     border-color: #a3daea;
  //     color: #a3daea;
  //   }
  // }
  .el-dialog {
    .filters {
      padding: 0 0 8px 0;
    }
    .el-dialog__body {
      background-color: $dialogbackcolor;
      color: $dialogcolor;
      padding: 10px 20px 10px 20px;
    }
    .el-dialog__footer {
      background-color: $dialogbackcolor;
      padding-right: 20px;
    }
    // .dialog-footer {
    //   padding-bottom: 10px;
    //   .el-button {
    //     &.el-button--primary {
    //       background-color: rgba(2, 154, 198, 1);
    //       color: #fff;
    //     }
    //   }
    // }
  }
  .headtitle {
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
  }
  .subtitle {
    height: 40px;
    color:rgba(33,33,33,1);
    font-weight:bold;
    font-size: 14px;
    line-height: 40px;
    margin: 0px;
  }
}
.el-popover {
  .el-table {
    @extend %el-table
  }
  .el-button {
    border: 0;
    font-size: 14px;
    padding: 6px;
  }
}
  