$media: screen;
$feature: max-width;
$value: 1500px;
$smallfontsize1: 20px;
$smallfontsize2: 16px;
$smallfontsize3: 14px;
//sidebar
$backcolor1: rgba(63,209,219,1);
$color1: rgba(255,255,255,1);
$backcolor2: rgba(133,226,233,1);
$color2: rgba(49,52,70,1);
$backcolor3: rgba(205,235,248,1);
$color3: rgba(49,52,70,1);
$backcolor4: rgba(245,251,254,1);
$color4: rgba(49,52,70,1);
$backcolorWhite: #ffffff;
$colorWhite: #1D2E4D;
$backcolorBlack: #0000;
$colorBlack: #ffffff;
$fontSize1: 28px;
$fontSize2: 22px;
$fontSize3: 18px;
$tableHeaderBackColor: rgba(6,154,219,0.2);
$tableHeaderColor: rgba(49,52,70,1);

$esideleft: 10px;
$esideright: 10px;
$esidetop: 20px;
$esidebottom: 10px;
$maintop: 10px;
$mainbottom: 10px;
$mainleft: 20px;
$mainright: 20px;
$tabletopbtnleft: 30px;
$tabletopandbottom: 5px;
$rowheight: 40px;
$searchtop: 10px;
$buttonspace: 16px;
$buttontop: 10px;
$buttonbottom: 10px;
$buttonleft: 16px;
$tablepaddingleft: 16px;
$tablepaddingright: 16px;
$tablecellpadingleft: 30px;
$tablecellpadingright: 30px;

:export {
  media: $media;
  feature: $feature;
  value: $value;
  smallfontsize1: $smallfontsize1;
  backcolor1: $backcolor1;
  color1: $color1;
  backcolor2: $backcolor2;
  color2: $color2;
  backcolor3: $backcolor3;
  color3: $color3;
  backcolor4: $backcolor4;
  color4: $color4;
  backcolorWhite: $backcolorWhite;
  colorWhite: $colorWhite;
  backcolorBlack: $backcolorBlack;
  colorBlack: $colorBlack;
  fontSize1: $fontSize1;
  fontSize2: $fontSize2;
  fontSize3: $fontSize3;
}
